<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2>15th Interventional MRI Symposium</h2>
        <p>Organized by Department of Radiology<br>
        Brigham and Women's Hospital</p>
        <p>{{ site.conference.dates }}<br>
        {{ site.conference.location }}</p>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>
      
      <div class="footer-col">
        <h2>Quick Links</h2>
        <ul>
          {% for item in site.data.navigation %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="footer-col">
        <h2>Important Dates</h2>
        <ul>
          <li><strong>Abstract Submission:</strong> {{ site.conference.abstract_deadline }}</li>
          <li><strong>Notification:</strong> {{ site.conference.notification_date }}</li>
          <li><strong>Early Bird Registration:</strong> {{ site.conference.early_bird_deadline }}</li>
          <li><strong>Registration Deadline:</strong> {{ site.conference.registration_deadline }}</li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h2>Follow Us</h2>
        <ul class="social-media-list">
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> Twitter</a></li>
          <li><a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> GitHub</a></li>
          <li><a href="#"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> LinkedIn</a></li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy; {{ 'now' | date: "%Y" }} 15th Interventional MRI Symposium. All rights reserved.</p>
    </div>
  </div>
</footer>